.program-form__title {
  margin: 0;
  padding: 27px 0 20px;
  font-size: 36px;
  font-weight: 400;
}

.program-form__text {
  margin: 16px 0;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}

.program-form__submit {
  padding-top: 23px;
  padding-bottom: 11px;
}

.program-form__submit-button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $oswald;
  width: 100%;
  margin: 0 auto;
  max-width: 540px;
}

.program-form__note {
  margin: 20px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  sup {
    vertical-align: top;
  }
}
