.add-more-goods__title {
  margin: 29px 0 33px;
  position: relative;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  background-image: linear-gradient(to bottom, transparent 0, transparent 13px, $green 13px, $green 16px, transparent 16px, transparent 100%);

  span {
    display: inline-block;
    background-color: #ffffff;
  }
}

.add-more-goods__list {

  @include reset-list ();
  margin-bottom: 39px;
}

.add-more-goods__item {
  padding-bottom: 17px;
  border-bottom: 1px solid $border-grey;
  max-width: 634px;
  margin: 0 auto;

  &:first-child {
    border-top: 1px solid $border-grey;
  }
}

.additional-product__name {
  margin: 13px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
}

.additional-product__info {
  width: 100%;
  margin-top: 0;
  margin-bottom: 11px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}

.additional-product__price {
  width: 95px;
  text-align: right;
}

.additional-product__button {
  min-width: 280px;
  max-width: 768px;
  margin: 0 auto;
}
