.button {
  display: block;
  min-height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: $white;
  line-height: 20px;
  background-color: $green;
  max-width: 280px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  font-family: $oswald;
  text-transform: uppercase;
  border: none;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width:$desktop-width) {
    min-width: 169px;
  }

  &--grey {
    color: $black;
    background-color: $basic-grey;
    max-width: 480px;
    min-width: 280px;
    margin: 0 auto;
    width: 100%;
    border: none;
    cursor: pointer;
    min-height: 40px;
    text-transform: uppercase;

    &:hover {
      background-color: $light-grey;
      color: $special-dark-grey;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    @media (min-width:$tablet-width) {
      min-width: 248px;
    }

    @media (min-width:$desktop-width) {
      min-width: 169px;
    }
  }
}
