.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
    width: 570px;
  }
}

.contacts__text {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.contacts__text-wrapper {
  display: flex;
  line-height: 20px;
  z-index: 1;
  align-items: center;

  &--white {
    background-color: $white;
  }

  @media (min-width:$tablet-width) {
    justify-content: space-between;
    padding: 60px 70px 52px;

    &--white {
      background-color: $white;
    }
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 10px;
    padding-left: 75px;
    padding-right: 85px;
    z-index: 1;
    background-color: $white;
    max-width: 570px;
  }
}

.contacts__part {
  margin: 0;
  flex-basis: 50%;

  @media (min-width: $tablet-width) {
    flex-basis: 160px;
  }
}

.contacts__greeting {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: $black;
  margin: 0;
  margin-right: 10px;

  @media (min-width:$tablet-width) {
    line-height: 21px;
    font-size: 20px;
    width: 171px;
  }

  @media (min-width:$desktop-width) {
    margin-right: 90px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    line-height: 1.4;
  }
}

.contacts__city {
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 16px;
  }
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-color: $light-grey;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width:$tablet-width) {
    height: 395px;
    background-image: url("../img/map-tablet.png");
    background-size: cover;
  }

  @media (min-width:$desktop-width) {
    height: 500px;
    background-image: url("../img/map-desktop.png");
    background-position: center;
  }
}
