.example {
  margin: 0 auto;
  background-color: $grey;
}

.example__title {
  padding: 20px 0;
  font-size: 36px;
  font-weight: 400;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.example__costs {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
