.features {
  margin: 0 auto;
}

.features__wrapper {
  box-sizing: border-box;
}

.features__title {
  margin: 0;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 35px 0;
    font-size: 60px;
  }
}

.features__list {
  @include reset-list ();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.features__item {
  display: flex;
  align-items: center;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.feature__text {
  margin: 0;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}
