.features {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}
.features__title {
  padding: 20px 0;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 35px 0;
    font-size: 60px;
  }
}

.features__list {
  @include reset-list ();
  padding-bottom: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    counter-reset: feature_num;
  }
}

.features__item {
  display: flex;
  align-items: center;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 37px auto 38px;
    padding: 0 40px 60px;
    counter-increment: feature_num;
    z-index: 0;

    &:nth-of-type(2n-1) {
      margin-left: 0;
      padding-left: 0;
    }

    &::after {
      content: counter(feature_num);
      position: absolute;
      top: -40px;
      right: 45px;
      font-size: 280px;
      color: $basic-grey;
      z-index: -1;
    }

    &:first-child::after {
      right: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 35px 32px 0 0;
    padding-left: 0;

    &:nth-of-type(3n) {
      margin-right: 32px;
      padding-right: 40px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
      padding-right: 0;
    }

    &::after {
      right: 45px;
    }

    &:nth-of-type(3n)::after {
      right: 45px;
    }

    &:nth-of-type(4n)::after {
      right: 5px;
    }

    &:first-child::after {
      right: 61px;
    }
  }

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 20px;
      width: 60px;
      height: 60px;
      background-color: $green;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50px;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        margin-bottom: 30px;
      }
    }

    &--icon-leaf::before {
      background-image: url("../img/raster/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/raster/advantage-leaf@2x.png");
    }
  }

    &--icon-powder::before {
      background-image: url("../img/raster/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/raster/advantage-powder@2x.png");
    }
  }

  &--icon-fork::before {
    background-image: url("../img/raster/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/raster/advantage-dining@2x.png");
    }
  }

  &--icon-clock::before {
    background-image: url("../img/raster/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/raster/advantage-clock@2x.png");
    }
  }
  }

.features__text {
  margin: 0;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
  }
}
