.intro {
  background-image: url("../img/raster/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  // min-height: 480px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/raster/index-background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: $white;
  }

  @media (min-width:$desktop-width) {
    background: transparent;
    min-height: 560px;
  }
}

.intro__wrapper {
  position: relative;
  padding-bottom: 22px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: $black;
  }
}

.intro__content {
  @media (min-width: $tablet-width) {
    margin-left: 100px;
  }
}

.intro__title {
  padding: 27px 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 35px 0;
    font-size: 60px;
    line-height: 60px;
    color: $black;
  }

  @media (min-width:$desktop-width) {
    margin-top: 34px;
    padding-top: 50px;
  }
}

.intro__lead {
  margin-top: 5px;
  margin-bottom: 28px;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 15px;
  }

  @media (min-width:$desktop-width) {
    padding-bottom: 25px;
  }
}

.intro__img-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    order: 2;
    width: 100%;
  }
}

.intro__img {
  margin: 0 auto;
  margin-bottom: 2px;
  height: auto;

  @media (min-width: $tablet-width) {
    margin-top: -80px;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 490px;
    margin-top: 5px;
    margin-bottom: 50px;
    width: 552px;
    height: 499px;
  }
}


.intro__link {
  order: 1;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px 27px;
    z-index: 2;
    margin-left: 100px;
    margin-bottom: 3px;
  }
}
