.page-header {
  min-height: 65px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  background-color: $white;
  text-transform: uppercase;
}

.page-header__wrapper {
  padding-top: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  align-items: center;
  box-sizing: border-box;
}

.page-header__logo {
  height: 45px;
  box-sizing: content-box;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
