.product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-top: -14px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -22px;
  }
}
.product__link-img {
  display: flex;
  flex: 1 0 auto;

  @media (min-width: $tablet-width) {
    height: 118px;
    width: 100%;
    padding-bottom: 33px;
    align-items: flex-end;
  }
}

.product__img {
  align-self: center;
  justify-content: center;
  flex: 4 0 50%;
  height: auto;
  padding-top: 15px;

  &:hover {
    transform: translateY(4px) scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }

  @media (min-width: $tablet-width) {
    &:hover {
      transform: translateY(10px) scale(1.1);
    }

    &:active {
      transform: translateY(10px) scale(0.9);
    }
  }

  & > picture {
    margin-left: -40px;
    margin-right: -40px;
  }

  & > picture img {
    @media (min-width: $tablet-width) {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

.product__link-img {
  display: flex;
  flex: 1 0 auto;

  @media (min-width: $tablet-width) {
    height: 118px;
    width: 100%;
    padding-bottom: 33px;
    align-items: flex-end;
  }
}

.product__content {
  flex: 0 0 37%;
  min-width: 140px;
  max-width: 165px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    align-self: stretch;
    padding-top: 2px;
    background-color: $grey;

    flex: 1 0 auto;
    max-width: unset;
  }
}

.product__link-title {
  color: $black;

  &:hover .product__title {
    color: $green;
  }

  &:active .product__title {
    opacity: 0.6;
    color: $green;
  }
}

.product__link {
  text-decoration: none;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.6;
    color: $green;
  }
}

.product__title {
  width: 100%;
  max-width: 102px;
  padding-bottom: 10px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.product__info {
  width: 100%;
  font-family: $arial;
  color: $special-dark-grey;

  & td {
    font-size: 12px;
    line-height: 16px;
  }

  & td:last-child {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 33px;

    & tr {
      border-bottom: 1px solid $border-grey;
    }

    & td {
      padding: 8px 0;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.product__text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 21px;
  color: $special-dark-grey;
  text-align: center;
}

.product__button {
  margin: 0 auto;
  min-width: 280px;
  max-width: 480px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    min-width: 248px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.more-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}

.more-products__link-icon {
  width: 30px;
  height: 30px;
  margin: 25px 0;
  position: relative;

  @media (min-width: $tablet-width){
    margin: 15px 0 17px;
    width: 60px;
    height: 60px;
  }
}


.more-products__icon {
  position: relative;
  padding-bottom: 8px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -40px;
    left: 50%;
    margin-left: -15px;
    background-image: url("../img/plus-catalog-more.svg");
  }
}

.more-products__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.more-products__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 20px;
  }
}

.more-products__button {
  margin-top: auto;
}
