.programs__wrapper {
  display: flex;
  box-sizing: border-box;
  margin: 20px auto;
}

.programs__list {
  @include reset-list ();
  background-color: $white;
}

.programs__item {
  margin-bottom: 20px;
  padding: 20px 20px 0;
  background-color: $basic-grey;

  &:last-child {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;


    &--pro {
      padding-right: 315px;
    }
  }
}

.program__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
    font-size: 36px;
    line-height: 30px;
  }
}

.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    border-bottom: none;
  }
}

.program__link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  border-left: 0;

  &::before,
  &::after {
    display: block;
    content: "";
  }

  &::before {
    order: 1;
    margin-left: 10px;
    width: 19px;
    height: 3px;
    background-color: $black;
  }

  &::after {
    order: 2;
    border: 5.5px solid transparent;
    border-left-color: $black;
  }

  &:hover::before {
    width: 27px;
    background-color: $green;
  }

  &:hover::after {
    border-left-color: $green;
  }

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }

  &:active::before {
    background-color: $green;
  }

  &:active::after {
    border-left-color: $green;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    font-size: 20px;
    border: 0;

    &::before {
      margin-left: 25px;
    }
  }
}
