.programs {

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.programs__list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
}

.programs__wrapper {
  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.programs__item {
  margin-bottom: 20px;
  padding: 20px 20px 0;
  background-color: $basic-grey;
  overflow: hidden;

  &:last-child {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 30px;
    padding: 55px 285px 40px 50px;

    .program--pro {
      padding-right: 315px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 40px;
    padding: 25px 50px;
    width: 570px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.program__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 4px 2px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
    font-size: 36px;
    line-height: 36px;
  }
}

.program__icon {
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--slim::after {
    width: 100%;
    height: 97%;
    top: 42.5%;
    background: url("../img/vector/icon-cat-slim.svg") no-repeat center;
  }

  &--pro::after {
    width: 135%;
    height: 95%;
    top: 50%;
    background: url("../img/vector/icon-cat-pro.svg") no-repeat center;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 42px;
    top: 92px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: auto;
    right: auto;
    margin-right: 60px;
    width: 100px;
    height: 100px;
  }
}

.program__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 1px;
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  border-left: 0;

  &::before,
  &::after {
    display: block;
    content: "";
  }

  &::before {
    order: 1;
    margin-left: 10px;
    width: 19px;
    height: 2px;
    background-color: $black;
  }

  &::after {
    order: 2;
    border: 5.5px solid transparent;
    border-left-color: $black;
  }

  &:hover::before {
    width: 26px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    font-size: 20px;
    border: 0;

    &::before {
      margin-left: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 11px 0;
    margin-bottom: 27px;
  }
}
