.progress {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
}

.progress__title {
  padding: 0 16px;
  position: relative;
  bottom: 9px;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: $special-dark-grey;
  background-color: $grey;
}

.progress__value {
  margin: 0;
  min-width: 121px;
  font-size: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-radius: 3px;
}
