.progress {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  flex-grow: 1;

  & + & {
    margin-left: 32px;

    @media (min-width: $tablet-width) {
      margin-left: 42px;
    }
  }
}

.progress__title {
  padding: 0 16px;
  position: relative;
  bottom: 9px;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: $special-dark-grey;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.progress__value {
  margin: 0;
  min-width: 121px;
  font-size: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    min-width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}
