.social {
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width:$tablet-width) {
    border: none;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 63px;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include reset-list ();
}

.social__item {
  width: 54px;

  @media (min-width: $tablet-width) {
    margin: 0 15px;
    width: 25px;

    &:nth-child(2) {
      margin: 0 18px;
      width: 19px;
    }
  }
}
