.page-footer {
  background-color: $grey;
}

.page-footer__logo {
  position: relative;
  height: 45px;
  box-sizing: content-box;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-link {
  margin: 0 auto;
}
