.social {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @media (min-width:$tablet-width) {
    border: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include reset-list;
}

.social__item {
  margin: 0 18px;
  width: 21px;

  @media (min-width:$tablet-width) {
    margin: 0 15px;
    width: 25px;

    &:nth-child(2) {
      margin: 0 18px;
      width: 19px;
    }
  }
}

.social__link {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  }
