.toggle {
  position: absolute;
  top: 4px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  background: 0 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  font-size: 0;
  line-height: 0;
  outline: none;
  cursor: pointer;

  @media (min-width:$tablet-width) {
    display: none;
  }
}

.toggle__button {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 2px;
  vertical-align: bottom;
  background: $black;
}

.toggle__button::after,
.toggle__button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: $black;
  transform-origin: 50% 50%;
}
