html,
body {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: $white;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  @include reset-list ();
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width:$tablet-width) {
    padding: 0 30px;
    width: 768px;
  }

  @media (min-width:$desktop-width) {
    padding: 0 40px;
    width: 1440px;
  }
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

textarea,
input,
button {
  font-size: 100%;
}
