// Main Colors
$black: #000000;
$white: #ffffff;
$darkgrey: #C4C4C4;
$grey: #EAEAEA;
$light-grey: #EBEBEB;
$border-grey: #CDCDCD;
$green: #68b738;
$dark-green: #5EAA2F;
$red: #ff8282;

// Viewports

$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
