// Main Colors
$black: #111111;
$darkgrey: #444444;
$grey: #f2f2f2;
$border-grey: #cdcdcd;
$green: #68b738;
$red: #ff8282;

// Fonts
$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
