.example {
  padding-top: 10px;
  background-color: $grey;

  @media (min-width:$tablet-width) {
    background-color: $white;
    border-top: 1px solid $light-grey;
  }

  @media (min-width:$desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    overflow: hidden;
  }
}

.example__wrapper {
  @media (min-width:$desktop-width) {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
  }
}

.example__content {
  @media (min-width:$desktop-width) {
    max-width: 435px;
  }
}

.example__title {
  padding: 20px 0;
  font-size: 36px;
  font-weight: 400;

  @media (min-width:$tablet-width) {
    padding: 35px 0;
    font-size: 60px;
  }

  @media (min-width:$desktop-width) {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @media (min-width:$tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  @media (min-width:$desktop-width) {
    padding: 70px 0 60px;
    margin-bottom: 0;
  }
}

.example__data {
  @media (min-width:$tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  @media (min-width:$desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;

  @media (min-width:$desktop-width) {
    justify-content: flex-start;
  }
}

.example__costs {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    text-align: right;
  }

  @media (min-width:$desktop-width) {
    margin-top: 30px;
    text-align: left;
  }
}

.example__costs-amount {
  @media (min-width:$tablet-width) {
    display: block;
  }

  @media (min-width:$desktop-width) {
    display: inline-block;
    margin-left: 60px;
  }
}
