.intro {
  background-image: linear-gradient(to top, #ffffff 97px, transparent 97px),
    url("../img/index-background-cat.jpg"),
    linear-gradient(to top, #ffffff 197px, #61a63c 197px);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #61a63c;
  background-size: 100%;
}

.intro__wrapper {
  position: relative;
  padding-bottom: 22px;
  text-align: center;
  color: #ffffff;
}

.intro__title {
  font-size: 36px;
  font-weight: 500;
}

.intro__lead {
  margin-top: 5px;
  margin-bottom: 28px;
  font-size: 14px;
  text-transform: uppercase;
}

.intro-link {
  order: 1;
  font-size: 14px;
}
