.progress {
  margin: 0;
  position: relative;
}

.progress__title {
  position: relative;
  font-family: $arial;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: $darkgrey;
  background-color: $grey;
}

.progress__value {
  margin: 0;
  padding: 15px 20px;
  min-width: 121px;
  font-size: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-radius: 3px;
}
